:root{
    --h3-font-size: 1.125rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --font-medium: 500;
    --header-height: 3rem;  
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.content {
    min-height: 100px;
}
.btn-style{
    margin-top: 12px;
    padding: 8px 20px;
    border: 1px solid rgb(57, 148, 35);
    border-radius: 18px;
    color: white;
    background-color: rgb(57, 148, 35);
    width: 100px;
    font-weight : bold;
    font-size: 14pt;
    width: fit-content;
}
.logout{
    font-weight: 490;
    margin-top: 0px;
    font-size: 11pt;
    width: 77px;
    border-radius: 12px;
    padding: 3px 6px;
    color: black;
    background-color:  rgb(251, 250, 253);
    border: none;
}
.btn-style:hover{
    background-color: white;
    color:  rgb(57, 148, 35);
}
.logout:hover{
    font-weight : bold;
    background-color: rgb(191, 192, 199);
    border: 1.5px solid rgb(191, 192, 199);
    color:  white;
}
.navbar-text{
    font-weight: 650;
}
.main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    margin: 10% 5% 6% 5%;
    width: 90%;
    height: 70%;
}
.success-login{
    height: 40vh;
}

.voting.z{
    position: absolute;
}
.voting{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
    width: 100%;
    height: 90%;
    z-index: 10;
}
.voting h5{
    display: flex;
    justify-content: center;
}
.voting .vote-button{
    display: flex;
    justify-content: center;
}
.big{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
}
.together{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 2rem;
}
.party_content{
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: space-evenly;


    min-width: 200px;
    min-height: 200px;
    
    background-color: var(--container-color);
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
    transition: .3s;
}
.party_content:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.party_image{
    width: 190px;
    height: 190px;
}
.party_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.spl_img1{
    background-color: white;
    padding: 10%;
    width: 100%;
    height: 100%;
}
.alert{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    z-index: 20;
    /* backdrop-filter: blur(35px); */
}
.alert.z{
    display: none;
}



/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer_container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    min-width: 100vw;
    position: relative;
    margin-top: auto;
    background-color: #24262b;
    padding: 70px 0 25px 25px;
    
}
.footer_container{
    row-gap: 3.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #bbbbbb;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer_copy{
    font-size: .75;
    text-align: center;
    color: hsl(12, 8%, 65%);
    margin-top: 2rem;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 584px){
  .footer-col{
    width: 100%;
}
.footer{
    min-width: 100vw;
}
.voting{
    top:12px;
}
}